body{
  margin: 30px;

  
}
@media only screen 
and (min-device-width: 428px) 
and (max-device-width: 926px) 
and (-webkit-device-pixel-ratio: 3) { 

/* Enter your styles here */

}


.navbar {
    background-color: #000000c6;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #fff !important; /* This is set to override bootstrap default text color */
  }
  
  .form-control {
    background-color: #555;
    border: none;
    border-radius: 0;
    color: #fff;
  }
  
  .tbn-outline-sucess {
    background-color: #213323;
    border-color: #0be63e;
    color: #fff;
  }

  .table{
    margin-top: 90px;
  }
