

body{
  margin: 30px;

  
}



.navbar {
    background-color: #000000c6;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #fff !important; /* This is set to override bootstrap default text color */
  }
  
  .form-control {
    background-color: #555;
    border: none;
    border-radius: 0;
    color: #fff;
  }
  
  .tbn-outline-sucess {
    background-color: #213323;
    border-color: #0be63e;
    color: #fff;
  }

  .table{
    margin-top: 90px;
    border: 2px solid black;
  }

  td img {
    display: flex;
    align-content: center;
    width: 20px; /* set the desired width */
    height: 20px; /* let the height adjust automatically based on the aspect ratio */
  }
  